---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk
---
{% include "header.njk" %}
<div class="wrapper">
  {% include "first-container.njk" %}
  {% include "second-container.njk" %}
  <hr class="vf-divider">
  <div class="this-week">
    <h4 class="vf-section-header__heading">This week at EMBL</h4>
    <div data-tockify-component="calendar" data-tockify-calendar="emblcalendar"></div>
    <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js">
    </script>
  </div>
  <hr class="vf-divider">
  {% include "third-container.njk" %}
  <hr class="vf-divider">
  <div class="vf-grid menu-links">
    <div class="vf-links link-col">
      <ul class="vf-links__list | vf-list">
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Administration
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Finance and Purchase
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Grants Services
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Health and Safety Office
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Human Resources
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            IT Services
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Leadership
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Strategy and Communications
          </a>
        </li>
      </ul>
    </div>
    <div class="vf-links link-col">
      <ul class="vf-links__list | vf-list">
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Research
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Scientific Services
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Training
          </a>
        </li>
      </ul>
    </div>
    <div class="vf-links link-col">
      <ul class="vf-links__list | vf-list">
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Alumni Relations
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            EMBL Archive
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            International Relations
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Ombuds Office
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Resource Development
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Science and Society
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Staff Association
          </a>
        </li>
      </ul>
    </div>
    <div class="twitter">
      <a class="twitter-timeline" data-width="370" data-height="400"
        href="https://twitter.com/embl?ref_src=twsrc%5Etfw" data-tweet-limit="1">Tweets by embl</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
   <div class="quick-links">
      <a class="icon-link vf-link" href="#">
        <i class="fas fa-laptop icon-main"></i>
        <p class="icon-p">Admin Services</p>
      </a>
      <a class="icon-link vf-link" href="#">
        <i class="fas fa-check icon-main"></i>
        <p class="icon-p">Room Booking</p>
      </a>
      <a class="icon-link vf-link" href="#">
        <i class="fas fa-utensils icon-main"></i>
        <p class="icon-p">Canteen Menu</p>
      </a>
      <a class="icon-link vf-link" href="#">
        <i class="fas fa-book icon-main"></i>
        <p class="icon-p">Library</p>
      </a>
      <a class="icon-link vf-link" href="#">
        <i class="far fa-file-alt icon-main"></i>
        <p class="icon-p"></p>
      </a>
      <a class="icon-link vf-link" href="#">
        <i class="fas fa-info icon-main"></i>
        <p class="icon-p">Staff Information</p>
      </a>
      <a class="icon-link vf-link" href="#">
        <i class="fas fa-hospital icon-main"></i>
        <p class="icon-p"></p>
      </a>
      <a class="icon-link vf-link" href="#">
        <i class="fas fa-photo-video icon-main"></i>
        <p class="icon-p">Photolab</p>
      </a>
      <a class="icon-link vf-link" href="#">
        <i class="fas fa-briefcase icon-main"></i>
        <p class="icon-p"></p>
      </a>
      <a class="icon-link vf-link" href="#">
        <i class="fas fa-baby icon-main"></i>
        <p class="icon-p"></p>
      </a>
      <a class="icon-link vf-link" href="#">
        <p class="icon-p"></p>
      </a>
      <a class="icon-link vf-link" href="#">
        <i class="fas fa-tools icon-main"></i>
        <p class="icon-p">Service Request</p>
      </a>
    </div>
</div>
