---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk
---
{% include "header.njk" %}
<div class="wrapper">
  <!-- BUS -->

  {% include "first-box.njk" %}
  {% include "second-box.njk" %}
  <div class="third-container">
  <div class="vf-grid | vf-grid__col-2">
        <div class="test-class">
              <h4 class="vf-section-header__heading">EMBL News</h4>
<link rel="import" href="https://dev.content.embl.org/api/v1/pattern.html?filter-content-type=article&filter-field-value%5Bfield_article_type%5D=article_timely&filter-fields-exists=field_display_title%2Cfield_teaser%2Cfield_canonical_location&limit=2&pattern=vf-news-item-default&sort-field-value%5Bcreated%5D=DESC" data-target="self" data-embl-js-content-hub-loader>
</div>
    <div class="weather">
      <a class="weatherwidget-io" href="https://forecast7.com/en/49d408d67/heidelberg/" data-label_1="HEIDELBERG"
        data-label_2="WEATHER" data-font="Arial" data-icons="Climacons Animated" data-days="3"
        data-theme="pure">HEIDELBERG WEATHER</a>
      <script>
        ! function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, 'script', 'weatherwidget-io-js');
      </script>
      <h4 class="vf-section-header__heading">Downloads</h4>
      <div class="vf-tabs">
    <ul class="vf-tabs__list" data-vf-js-tabs>
        <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--1">Section</a>
        </li>
        <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--2">A Short Section</a>
        </li>
        <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--3">A Rather Long Section</a>
        </li>
        <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--4">Nested Tabs</a>
        </li>
                <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--4">Nested Tabs</a>
        </li>
                <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--4">Nested Tabs</a>
        </li>
    </ul>
</div>

<div class="vf-tabs-content" data-vf-js-tabs-content>
    <section class="vf-tabs__section" id="vf-tabs__section--1">
        <h2>Section 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a class="vf-link" href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam
            iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>
    </section>
    <section class="vf-tabs__section" id="vf-tabs__section--2">
        <h2>Section 2</h2>
        <p>Nullam at diam nec arcu suscipit auctor non a erat. Sed et magna semper, eleifend magna non, facilisis nisl. Proin et est et lorem dictum finibus ut nec turpis. Aenean nisi tortor, euismod a mauris a, mattis scelerisque tortor. Sed dolor risus,
            varius a nibh id, condimentum lacinia est. In lacinia cursus odio a aliquam. Curabitur tortor magna, laoreet ut rhoncus at, sodales consequat tellus.</p>
    </section>
    <section class="vf-tabs__section" id="vf-tabs__section--3">
        <h2>Section 3</h2>
        <p>Phasellus ac tristique orci. Nulla maximus <a class="vf-link" href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur
            gravida, <a class="vf-link" href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>
    </section>
  
</div>
      {# <div class="vf-links vf-links--tight vf-links__list--s">
        <ul class="vf-links__list vf-links__list--secondary | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="">
              Staff Rules and Regulations
            </a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="">
              Medical Invoice Submission (MIS) Form
            </a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="">
              PowerPoint Templates
            </a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="">
              Training Registration Form
            </a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="">
              Professional Development and Training Broschure
            </a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="">
              Health Insurance Brochure
            </a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="">
              Reimbursement Form
            </a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="">
              EMBL logo
            </a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="">
              Leave Request Form
            </a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="">
              Organigramme
            </a>
          </li>
        </ul>
        </div> #}
    </div>
    </div>
    </div>
    
  <hr class="vf-divider">
  {% include "links.njk" %}
  <!-- SOCIAL MEDIA -->
  <div class="vf-grid | vf-grid__col-3 | social-media">
    <div class="sm-feeds">
      <!-- <i class="social-m fab fa-twitter-square"></i> -->
      <a class="twitter-timeline" data-width="370" data-height="400"
        href="https://twitter.com/embl?ref_src=twsrc%5Etfw">Tweets by embl</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>







<!--
<div class="col sm-feeds">
  <i class="social-m fab fa-facebook-square"></i>
  <div class="fb-page" data-href="https://www.facebook.com/embl.org/" data-tabs="timeline" data-width="370" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/embl.org/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/embl.org/">European Molecular Biology Laboratory - EMBL</a></blockquote></div>
</div>
<div class="col sm-feeds">
  <i class="social-m fab fa-instagram"></i>
 <a href="https://instawidget.net/v/user/embl_org" id="link-5c9824a1c41da9e7b9bbb3b9f52aa619ca5ef4d8e5d71f2a0b31a0489f33cd52">@embl_org</a>
 <script src="https://instawidget.net/js/instawidget.js?u=5c9824a1c41da9e7b9bbb3b9f52aa619ca5ef4d8e5d71f2a0b31a0489f33cd52&width=370px"></script>
</div>
-->

{# <section id="seadrch-people">
  <form class="search" method="get" action="http://intranet.embl.de/search_result/index.php">
      <input type="text" placeholder="Search for people" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>


  </form>
</section> #}

{# <div class="services-icons">
  <button class="button vf-button vf-button--tertiary"><i class="fas fa-check"></i> Room booking</button>
  <button class="button vf-button vf-button--tertiary"><i class="si fa fa-download"></i> Downloads</button>
  <button class="button vf-button vf-button--tertiary"><i class="fas fa-utensils"></i> Canteen Menu</button>
  <button class="button vf-button vf-button--tertiary"><i class="si fa fa-bus"></i> Bus Shuttle</button>
  <button class="button vf-button vf-button--tertiary"><i class="fas fa-chart-line"></i> Training</button>
  <button class="button vf-button vf-button--tertiary"><i class="fas fa-book"></i> Library</button>
  <button class="button vf-button vf-button--tertiary"><i class="far fa-file-alt"></i> Regulations</button>
  <button class="button vf-button vf-button--tertiary"><i class="fas fa-euro-sign"></i> Salary</button>
</div> #}

