---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk
---
{% include "header.njk" %}
<div class="wrapper">
  <!-- BUS & SEARCH BAR -->
  <div class="vf-grid | vf-grid__col-2 | search-bar">
    <div class="bus-box">
      <h5>Next bus in:&nbsp;<span class="badge badge-secondary">Live</span></h5>
      <div class="bus-number">Shuttle:<span class="bus-time">5 min</span></div>
      <div class="bus-number">39:<span class="bus-time">15 min</span></div>
      <div class="bus-number">39A:<span class="bus-time">9 min</span></div>
    </div>
    <div class="weather">
      <a class="weatherwidget-io" href="https://forecast7.com/en/49d408d67/heidelberg/" data-label_1="HEIDELBERG"
        data-label_2="WEATHER" data-font="Arial" data-icons="Climacons Animated" data-days="3"
        data-theme="pure">HEIDELBERG WEATHER</a>
      <script>
        ! function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, 'script', 'weatherwidget-io-js');
      </script>
    </div>
  </div>
  {% include "first-box.njk" %}
  {% include "second-box.njk" %}
  {% include "links.njk" %}
  <!-- SOCIAL MEDIA -->
  <div class="vf-grid | vf-grid__col-3 | social-media">
    <div class="sm-feeds">
      <!-- <i class="social-m fab fa-twitter-square"></i> -->
      <a class="twitter-timeline" data-width="370" data-height="400"
        href="https://twitter.com/embl?ref_src=twsrc%5Etfw">Tweets by embl</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
<!--
<div class="col sm-feeds">
  <i class="social-m fab fa-facebook-square"></i>
  <div class="fb-page" data-href="https://www.facebook.com/embl.org/" data-tabs="timeline" data-width="370" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/embl.org/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/embl.org/">European Molecular Biology Laboratory - EMBL</a></blockquote></div>
</div>
<div class="col sm-feeds">
  <i class="social-m fab fa-instagram"></i>
 <a href="https://instawidget.net/v/user/embl_org" id="link-5c9824a1c41da9e7b9bbb3b9f52aa619ca5ef4d8e5d71f2a0b31a0489f33cd52">@embl_org</a>
 <script src="https://instawidget.net/js/instawidget.js?u=5c9824a1c41da9e7b9bbb3b9f52aa619ca5ef4d8e5d71f2a0b31a0489f33cd52&width=370px"></script>
</div>
-->

{# <section id="seadrch-people">
  <form class="search" method="get" action="http://intranet.embl.de/search_result/index.php">
      <input type="text" placeholder="Search for people" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>


  </form>
</section> #}

{# <div class="services-icons">
  <button class="button vf-button vf-button--tertiary"><i class="fas fa-check"></i> Room booking</button>
  <button class="button vf-button vf-button--tertiary"><i class="si fa fa-download"></i> Downloads</button>
  <button class="button vf-button vf-button--tertiary"><i class="fas fa-utensils"></i> Canteen Menu</button>
  <button class="button vf-button vf-button--tertiary"><i class="si fa fa-bus"></i> Bus Shuttle</button>
  <button class="button vf-button vf-button--tertiary"><i class="fas fa-chart-line"></i> Training</button>
  <button class="button vf-button vf-button--tertiary"><i class="fas fa-book"></i> Library</button>
  <button class="button vf-button vf-button--tertiary"><i class="far fa-file-alt"></i> Regulations</button>
  <button class="button vf-button vf-button--tertiary"><i class="fas fa-euro-sign"></i> Salary</button>
</div> #}