<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0"></script>
<div class="brand-bar">
  <a href="http://www.embl.org"><img src="../images/embl_logo.png" alt="EMBL Logo" class="embl-logo"/></a>
<!-- SM ICONS -->
    <div class="sm-icons">
       <i class="social fab fa-twitter-square"></i>
       <i class="social fab fa-facebook-square"></i>
       <i class="social fab fa-linkedin"></i>
       <i class="social fab fa-youtube-square"></i>
       <i class="social fab fa-instagram"></i>
     </div>
</div>
<header class="vf-header vf-header--inlay">
<!-- MASTHEAD -->
<div data-vf-js-masthead class="vf-masthead" style="background-color: 'var(--vf-masthead__color--background', var(--vf-masthead__color--background-default)); color: var(--vf-masthead__color--foreground, var(--vf-masthead__color--foreground-default) );">
  <div class="vf-masthead__inner">
    <div class="vf-masthead__title">
      <h1 class="vf-masthead__heading">
        <a class="vf-masthead__heading__link" href="#">Heidelberg</a>
        <span class="vf-masthead__heading--additional">Springboard</span>
      </h1>
    </div>
  </div>
</div>
<nav class="vf-navigation vf-navigation--main">
    <ul class="vf-navigation__list | vf-list--inline">
        <li class="vf-navigation__item">
            <a href="#" class="vf-navigation__link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
        </li>
        <li class="vf-navigation__item">
            <a href="JavaScript:Void(0);" class="vf-navigation__link">Finances</a>
        </li>
        <li class="vf-navigation__item">
            <a href="JavaScript:Void(0);" class="vf-navigation__link">Human Resources</a>
        </li>
        <li class="vf-navigation__item">
            <a href="JavaScript:Void(0);" class="vf-navigation__link">Health and Safety</a>
        </li>
        <li class="vf-navigation__item">
            <a href="JavaScript:Void(0);" class="vf-navigation__link">IT Services</a>
        </li>
        <li class="vf-navigation__item">
            <a href="JavaScript:Void(0);" class="vf-navigation__link">StratComm</a>
        </li>
        <li class="vf-navigation__item">
            <a href="JavaScript:Void(0);" class="vf-navigation__link">Training</a>
        </li>
        <li class="vf-navigation__item">
        </li>
    </ul>
</nav>
</header>
