<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0"></script>
<div class="brand-bar">
  <a href="http://www.embl.org"><img src="../images/embl_logo.png" alt="EMBL Logo" class="logo"/></a>
<!-- SM ICONS -->
    <div class="sm-icons">
       <i class="social fab fa-twitter-square"></i>
       <i class="social fab fa-facebook-square"></i>
       <i class="social fab fa-linkedin"></i>
       <i class="social fab fa-youtube-square"></i>
       <i class="social fab fa-instagram"></i>
     </div>
</div>
<header class="vf-header vf-header--inlay">
<hr class="vf-divider">
 <!-- MASTHEAD -->
{# <div data-vf-js-masthead class="vf-masthead" style="background-color: 'var(--vf-masthead__color--background', var(--vf-masthead__color--background-default)); color: var(--vf-masthead__color--foreground, var(--vf-masthead__color--foreground-default) );">
  <div class="vf-masthead__inner">
    <div class="vf-masthead__title">
      <h1 class="vf-masthead__heading">
        <a class="vf-masthead__heading__link" href="#">Springboard</a>
        <span class="vf-masthead__heading--additional">Heidelberg</span> 
      </h1>
    </div>
  </div>
</div>  #}
</header> 
