<h4 class="vf-section-header__heading">Popular links</h4>
<div class="vf-links | vf-grid | vf-grid__col-6 links-bar-first">
      <div class="col cat">
       <h4 class="vf-links__heading">Human Resources</h4>
       <ul class="vf-links__list | vf-list">
         <li class="vf-list__item"><a class="vf-list__link" href="#">Leave recording</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Social insurances</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Salary information</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Training and development</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Timesheets</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Employment conditions</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Rules and regulations</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Internal policies</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Procedure forms</a></li>
       </ul>
      </div>
      <div class="col cat">
       <h4 class="vf-links__heading">IT Services</h4>
       <ul class="vf-links__list | vf-list">
         <li class="vf-list__item"><a class="vf-list__link" href="#">Room reservation</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Remote access</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Email</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Calendar</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Data storage</a></li>
       </ul>
      </div>
      <div class="col cat">
       <h4 class="vf-links__heading">Finances</h4>
       <ul class="vf-links__list | vf-list">
         <li class="vf-list__item"><a class="vf-list__link" href="#">SAP</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Petty Cash</a></li>
         <li class="vf-list__item"><a class="vf-list__link" href="#">Purchase</a></li>
       </ul>
      </div>
      <div class="col cat">
        <h4 class="vf-links__heading">Training</h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item"><a class="vf-list__link" href="#">EIPP</a></li>
          <li class="vf-list__item"><a class="vf-list__link" href="#">CCO</a></li>
          <li class="vf-list__item"><a class="vf-list__link" href="#">Scientific skills</a></li>
          <li class="vf-list__item"><a class="vf-list__link" href="#">Career Support</a></li>
        </ul>
        </div>
       <div class="col cat">
        <h4 class="vf-links__heading">Administration</h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item"><a class="vf-list__link" href="#">Housing</a></li>
          <li class="vf-list__item"><a class="vf-list__link" href="#">ISG Guesthouse</a></li>
          <li class="vf-list__item"><a class="vf-list__link" href="#">Kindergarten</a></li>
          <li class="vf-list__item"><a class="vf-list__link" href="#">Canteen/Cafeteria</a></li>
          <li class="vf-list__item"><a class="vf-list__link" href="#">Shuttle Bus</a></li>
          <li class="vf-list__item"><a class="vf-list__link" href="#">Service request</a></li>
        </ul>
        </div>
       <div class="col cat">
        <h4 class="vf-links__heading">Scientific Services</h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item"><a class="vf-list__link" href="#">Core Facilities</a></li>
          <li class="vf-list__item"><a class="vf-list__link" href="#">Library</a></li>
          <li class="vf-list__item"><a class="vf-list__link" href="#">Workshops</a></li>
          <li class="vf-list__item"><a class="vf-list__link" href="#">Photolab</a></li>
        </ul>
        </div>
  </div>
  <hr class="vf-divider">
