  <div class="vf-grid | vf-grid__col-4 | secondary-bar">
    <div class="this-week">
      <h4 class="vf-section-header__heading">Upcoming Events</h4>
      <div data-tockify-component="mini" data-tockify-calendar="emblcalendar"></div>
      <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js">
      </script>
    </div>
    <div class="seminars-list">
      <div class="seminars vf-text">
        <h4 class="vf-section-header__heading">Seminars</h4>
        <div id="seminars-embed">
          {%for item in seminars.items%}
          <p class="seminar-date">{{item.date}}</p>
          <p class="seminar-date">{{item.room}}</p>
          <h6 class="seminar-title">{{item.title}}</h6>
          <p class="seminar-speaker">{{item.firstname}} {{item.name}}</p>
          <hr class="vf-divider">
          {%endfor%}
        </div>
        <a href="#" class="vf-link vf-link--hover | see-more">Seminars calendar >></a>
      </div>
    </div>
    <div class="test-class">
<link rel="import" href="https://dev.content.embl.org/api/v1/pattern.html?filter-content-type=article&filter-field-value%5Bfield_article_type%5D=article_timely&filter-fields-exists=field_display_title%2Cfield_teaser%2Cfield_canonical_location&limit=1&pattern=vf-news-item-default&sort-field-value%5Bcreated%5D=DESC" data-target="self" data-embl-js-content-hub-loader>
</div>
    <div class="vf-links | menu-links">
      <h4 class="vf-section-header__heading">Title</h4>
      <ul class="vf-links__list | vf-list">
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Research
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Scientific Services
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Alumni Relations
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Science and Society
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Leadership
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            International Relations
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Ombuds Office
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            EMBL Archive
          </a>
        </li>
        <li class="vf-list__item">
          <a class="vf-list__link" href="JavaScript:Void(0);">
            Staff Association
          </a>
        </li>
      </ul>
    </div>
          {# <div class="carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../images/TBP19-01_290x144.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../images/TRC19-01_290x144.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../images/VZB19-01_290x144.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <a href="#" class="vf-link vf-link--hover | see-more">Courses and Conferences >></a> #}
  </div>
  <hr class="vf-divider">