<div class="second-container">
  <div class="vf-grid">
    {# <div class="this-week">
      <h4 class="vf-section-header__heading">Today at EMBL</h4>
      <div data-tockify-component="calendar" data-tockify-calendar="emblcalendar"></div>
      <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js">
      </script>
    </div> #}
    <div class="popular">
      <h4 class="vf-section-header__heading">Popular links / downloads</h4>
      <div class="vf-tabs">
        <ul class="vf-tabs__list" data-vf-js-tabs>
          <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--1">Administration</a>
          </li>
          <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--2">Finances</a>
          </li>
          <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--3">HR</a>
          </li>
          <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--4">IT Services</a>
          </li>
          <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--5">Leadership</a>
          </li>
          <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--6">Scientific Svcs</a>
          </li>
          <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--7">Training</a>
          </li>
          <li class="vf-tabs__item">
            <a class="vf-tabs__link" href="#vf-tabs__section--8">Templates</a>
          </li>
        </ul>
      </div>
      <div class="vf-tabs-content" data-vf-js-tabs-content>
        <section class="vf-tabs__section" id="vf-tabs__section--1">
          <h5>Administration</h5>
          <div class="vf-grid vf-links">
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><a class="vf-list__link popular-list"
                  href="https://intranet.embl.de/administration/sgs/canteen_cafeteria/canteen_menu.pdf">Canteen/Cafeteria</a>
              </li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Catering</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Facility Management</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Housing Service</a>
              </li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">ISG Guesthouse</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Kindergarten</a>
              </li>
            </ul>
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Legal Services</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Service Request</a>
              </li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Services to Staff</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Shuttle Bus</a></li>
            </ul>
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">EMBL HD Site Map</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Canteen menu</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Kindergarten menu</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Order Form for Lunch / Cafeteria Tickets</a></li>
            </ul>
          </div>
        </section>
        <section class="vf-tabs__section" id="vf-tabs__section--2">
          <h5>Finance and Purchase</h5>
          <div class="vf-grid">
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">SAP</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Petty cash</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Policies</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Purchase</a></li>
            </ul>
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Financial Regulations and Internal Financial Rules</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Signature List</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Online Purchasing System (Shopping cart)</a></li>
            </ul>
          </div>
        </section>
        <section class="vf-tabs__section" id="vf-tabs__section--3">
          <h5>Human Resources</h5>
          <div class="vf-grid">
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Development and
                  Training</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Employment conditions</a>
              </li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Infopacks</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Intermedex</a>
              </li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Internal Policies</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Leave Recording</a>
              </li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Procedures and Forms</a>
              </li>
            </ul>
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Rules and Regulations</a>
              </li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Salary Information</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Social Insurances</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Staff Information</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Timesheets</a></li>
            </ul>
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Health Insurance Registration Form</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Health Insurance Scheme</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Medical Invoice Submission Form</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Newcomers HD</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Reimbursement Form</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Pay Scale Germany</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Pay Scale UK</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Public and School Holidays HD</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Staff Rules and Regulations</a></li>
            </ul>
          </div>
        </section>
        <section class="vf-tabs__section" id="vf-tabs__section--4">
          <h5>IT Services</h5>
          <div class="vf-grid">
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Calendar</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Data Storage</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Email</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Password Management</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Remote Access</a>
              </li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Room reservation</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Software</a></li>
            </ul>
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Cisco Anyconnect</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">MyMail</a></li>
            </ul>
          </div>
        </section>
        <section class="vf-tabs__section" id="vf-tabs__section--5">
          <h5>Leadership</h5>
          <div class="vf-grid">
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Associate Director</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Admin Director</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Data Protection</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Director General</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">EMBL Committees</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">EMBL Council</a></li>
            </ul>
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Organigramme</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Summary of the Directorate Meeting</a></li>
            </ul>
          </div>
        </section>
        <section class="vf-tabs__section" id="vf-tabs__section--6">
          <h5>Scientific Services</h5>
          <div class="vf-grid">
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">ALMF Booking</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Core Facilities</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Library</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Photolab</a>
              </li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">SIM Service Request</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Workshops</a></li>
            </ul>
          </div>
        </section>
        <section class="vf-tabs__section" id="vf-tabs__section--7">
          <h5>Training</h5>
          <div class="vf-grid">
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Complementary Scientific
                  Skills</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Courses and Conferences</a>
              </li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">EIPP</a>
              </li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Fellows' Career Service</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">How to Register</a></li>
              <li class="vf-list__item"><a class="vf-list__link popular-list" href="#">Postdocs</a></li>
            </ul>
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Heidelberg University Joint Degree Registration</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Professional Development and Training</a></li>
              <li class="vf-list__item"><i class="far fa-file-pdf"></i>&nbsp;<a class="vf-list__link popular-list"
                  href="#">Training Registration Form</a></li>
            </ul>
          </div>
        </section>
        <section class="vf-tabs__section" id="vf-tabs__section--8">
          <h5>Templates</h5>
          <div class="vf-grid">
            <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><i class="fas fa-external-link-alt">&nbsp;</i><a
                  class="vf-list__link popular-list" href="#">Colours</a></li>
              <li class="vf-list__item"><i class="fas fa-external-link-alt">&nbsp;</i><a
                  class="vf-list__link popular-list" href="#">Logo</a></li>
              <li class="vf-list__item"><i class="fas fa-external-link-alt">&nbsp;</i><a
                  class="vf-list__link popular-list" href="#">Typeface</a></li>
              <li class="vf-list__item"><i class="fas fa-external-link-alt">&nbsp;</i><a
                  class="vf-list__link popular-list" href="#">Stationery templates</a>
              </li>
              </ul>
              <ul class="vf-links__list | vf-list">
              <li class="vf-list__item"><i class="fas fa-external-link-alt">&nbsp;</i><a
                  class="vf-list__link popular-list" href="#">PowerPoint templates</a></li>
              <li class="vf-list__item"><i class="fas fa-external-link-alt">&nbsp;</i><a
                  class="vf-list__link popular-list" href="#">Internal poster templates</a>
              </li>
              <li class="vf-list__item"><i class="fas fa-external-link-alt">&nbsp;</i><a
                  class="vf-list__link popular-list" href="#">Scientific poster templates</a>
              </li>
              <li class="vf-list__item"><i class="fas fa-external-link-alt">&nbsp;</i><a
                  class="vf-list__link popular-list" href="#">Business cards</a></li>
            </ul>
          </div>
        </section>
      </div>
    </div>
    <div class="seminars">
      <h4 class="vf-section-header__heading">Seminars</h4>
      <div id="seminars-embed">
        {%for item in seminars.items%}
        <p class="vf-summary__date seminar-org-name">{{item.org_name}}</p>
        <p class="vf-summary__date">{{item.date}} - {{item.room}}</p>
        <p class="vf-summary__date"></p>
        <p class="vf-summary__text seminar-title">{{item.title}}</p>
        <p class="vf-summary__date">{{item.firstname}} {{item.name}}</p>
        <hr>
        {%endfor%}
        <div class="more-link">
          <a href="#" class="vf-link vf-link--hover">Seminars calendar >></a>
        </div>
      </div>
      <div class="carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../images/TBP19-01_290x144.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../images/TRC19-01_290x144.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../images/VZB19-01_290x144.jpg" alt="Third slide">
            </div>
          </div>
        </div>
        <div class="more-link">
          <a href="#" class="vf-link vf-link--hover | see-more">Courses and Conferences >></a>
        </div>
      </div>
    </div>
  </div>
</div>