<div class="third-container">
    <div class="vf-grid">
        <div class="embl-news-container">
            <h4 class="vf-section-header__heading">EMBL News</h4>
            <link rel="import"
                href="https://dev.content.embl.org/api/v1/pattern.html?filter-content-type=article&filter-field-value%5Bfield_article_type%5D=article_timely&filter-fields-exists=field_display_title%2Cfield_teaser%2Cfield_canonical_location&limit=2&pattern=vf-news-item-default&sort-field-value%5Bcreated%5D=DESC"
                data-target="self" data-embl-js-content-hub-loader>
        </div>
<div class="twitter">
      <a class="twitter-timeline" data-width="370" data-height="400"
        href="https://twitter.com/embl?ref_src=twsrc%5Etfw" data-tweet-limit="1">Tweets by embl</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
        </div>
    </div>
</div>
