/* HEADING */

.logo {
  display: inline-block;
  height: 50px;
}

.sm-icons {
  float: right;
  padding: 3px;
}

.sm-icons i {
  padding: 2px;
  font-size: 36px;
  color: #54585A;
}

/* .sm-icons i:hover {
  color: #009f4d;
} */

.brand-bar {
  padding: 15px 5% 15px 5%;
}

.masthead {
  color: #ffffff;
  padding: 6vh 10% 2vh 10%;
  margin: 0;
}

/* END OF HEADING */

.wrapper {
  margin-top: 1vh;
  margin-bottom: 5vh;
  grid-column: 2;
}

.more-link {
  text-align: right;
}

/* SEARCH */

.search-bar {
  width: 90%;
}

.vf-search__button {
  margin: 
}

/*END OF SEARCH*/

/* FIRST SECTION */

.timetable {
  text-align: center;
  padding: 10px 0px;
  z-index: 5;
}

.main-bar {
  margin-bottom: 50px;
  margin-top: 40px;
  background-color: white;
}

@media (max-width: 768px) {
  .services-icons i {
    text-align: center;
    font-size: 15px;
  }
}

.services-icons button {
  width: 100px;
  height: 80px;
  margin: 10px 5px 10px 5px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .services-icons button {
    width: 80px;
    height: 70px;
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .services-icons button {
    width: 100px;
    height: 80px;
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .services-icons button {
    width: 80px;
    height: 70px;
    font-size: 12px;
  }
}

.bus-number {
  font-size: 14px;
  display: inline-block;
  padding: 5px;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;

}

.bus-time {
  display: inline-block;
  padding: 5px;
  color: white;
  background-color: #009f4d;
  border-radius: 5px;
  margin-left: 5px;
}

.bus-icon {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 3px;
}

.break {
  margin-top: 20px;
}

.fa-bus {
  margin-top: 20px;
}

.crop {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news-image {
  float: left;
  margin-right: 15px;
}
 
.services-container {
  padding: 0px 0px 0px 100px;
  margin: 0 auto;
}

.icon-link {
  display: inline-block;
  width: 110px;
  height: 110px;
  text-align: center;
  padding: 10px;
  background-color: #f3f3f3;
  float: left;
  margin: 5px;
}

.icon-link:hover {
  border: 1px solid #307fe2;
}

.icon-main {
  color: #54585A;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 3px;
}

.icon-p {
  font-size: 14px;
  margin: 0px;
}

/* VISUAL FRAMEWORK */
.vf-list__item {
  margin-left: 10px;
}

.vf-section-header__heading {
  margin-bottom: 20px;
}

.vf-masthead__title {
  margin-left: 30px;
}

.vf-navigation__item a {
  font-size: 90%;
}

.vf-tabs__link {
  padding: 6px;
  font-size: 16px;
}

.vf-tabs__list {
  padding: 0px;
  text-align: center;
}

.vf-tabs-content h5 {
  margin-top: 15px;
  margin-bottom: 20px;
}

/* SECOND SECTION */

.second-container {
  margin-top: 20px;
  margin-bottom: 50px;
}

.popular {
  /* padding-right: 60px; */
}

.popular-list {
  font-size: 16px;
}

.carousel {
  margin-left: 60px;
  margin-top: 24px;
  margin-bottom: 20px;

}

/* THIRD SECTION */
.seminars {
  margin-left: 70px;
  max-width: 364px;
}

#seminars-embed {
  padding: 15px;
  background-color: #f3f3f3;
}

#seminars-embed p {
  margin-bottom: 0px;
}

#seminars-embed h6 {
  margin-bottom: 3px;
}

.embl-news-container {
  padding-left: 10px;
  padding-right: 80px;
}

.seminar-title {
  font-size: 16px;
}

.seminar-org-name {
  color: #212529;
}

.seminar-item {
padding-left: 10px;
margin-bottom: 22px;
}

.popular ul {
  border-right: 1px solid #d8d8d8;
}

.popular ul:last-child {
  border: none;
}

.icon-pp {
  margin-top: auto;
  margin-bottom: auto;
}

.icon-two-lines {
  padding: 20px 0px;
}

.icon-one-line {
  padding: 30px 0px;
}
/* .rtrt :hover {
  border: 1px solid  #009f4d;
} */























