body {
  background-color: #f3f3f3;
}

.embl-logo {
  display: inline-block;
  height: 50px;
}

.sm-icons {
  display: inline-block;
  float: right;
  padding: 3px;
}

.sm-icons i {
  padding: 2px;
  font-size: 36px;
}

.sm-icons i:hover {
  color: #009f4d;
}

.social-m {
  font-size: 45px;
  padding: 20px;
  display: inline-block;
  margin-bottom: 2vh;
}

.social-m:hover {
  color: #009f4d;
}

.brand-bar {
  padding: 15px 10% 15px 10%;
}

.masthead {
  color: #ffffff;
  padding: 6vh 10% 2vh 10%;
  margin: 0;
}
.wrapper {
  margin-top: 1vh;
  margin-bottom: 5vh;
  grid-column: 2; }

  /* SEARCH */
  /* Style the search field */
  .search-bar {
    margin-top: 2vh;
    background-color: #ffffff;
  }

  #search-people {
    text-align: center;
  }

  form.search-people {
    width: 100%;
    margin: 1em 0 0 0;
    text-align: right; }

  form.search input[type=text] {
    padding: 3px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #333333;
    border: 3px solid #cccccc;
    width: 80%; }

  /* Style the submit button */
  form.search button {
    width: 15%;
    margin-left: 1%;
    padding: 3px;
    background: #3F3F3F;
    color: white;
    font-size: 16px;
    border: 3px solid #3F3F3F;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer; }

  form.search button:hover {
    background: #009f4d; }

  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table; }

/*END OF SEARCH*/

.bus-box {
  text-align: center;
  padding: 0px;
}

/* MAIN */
.main-bar {
  margin-bottom: 6vh;
	padding: 20px;
}

@media (max-width: 768px) {
  .services-icons i {
  	text-align: center;
  	font-size: 15px;
  	} }

.services-icons button {
	width: 100px;
	height: 80px;
	margin: 10px 5px 10px 5px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .services-icons button {
    width: 80px;
  	height: 70px;
    font-size: 12px; } }

@media (max-width: 1200px) {
  .services-icons button {
   width: 100px;
    height: 80px;
    font-size: 12px; } }

@media (max-width: 992px) {
  .services-icons button {
    width: 80px;
    height: 70px;
    font-size: 12px; } }

.secondary-bar{
  margin-bottom: 6vh;
}

.links-bar-first, .links-bar-second {
  background-color: #ffffff;
}

.links-bar li{
  line-height: 18px;
}

.seminars {
  padding: 10px;
  border: 1px solid #d8d8d8;
}

.this-week {
  padding: 10px;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
}

.weather {
  padding-right: 20px;
  padding-left: 20px;
}

.vf-section-header__heading, .vf-links__heading{
  margin-bottom: 15px;
  padding: 4px 0px 2px 8px;
  border-radius: 2px;
}

.vf-list__item {
  margin-left: 10px;
}

.bus-number {
  display: inline-block;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #d8d8d8;

}

.bus-time{
  display: inline-block;
  padding: 5px;
  color: white;
  background-color: #009f4d;
  border-radius: 5px;
  margin-left: 5px;

}

.links-bar-first {
  margin-bottom: 10px;
  border: solid 1px #d8d8d8;
}

.links-bar-second {
  margin-bottom: 10px;
  border: solid 1px #d8d8d8;
}
#seminars-embed {
  line-height: 1.5px;

}

.seminar-date {
  font-size: 12px;
  margin-bottom: 10px;
}

.seminar-speaker {
  font-size: 12px;
  margin-bottom: 30px;
}

.seminars-list {
  background-color: #ffffff;
}


#news-text {
  display: inline-block;
  margin-left: 30px;
  font-size: 14px;
}

#news-image {
  display: inline-block;
}

.news-box, .calendar-box {
  padding: 20px;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  margin-bottom: 15px;
}

.event-calendar {
  max-width: 70%;
}

.vf-masthead__title {
  margin-left: 30px;
}

.vf-navigation__item a {
  font-size: 90%;
}

.test-i {
  width: 90px;
  height: 90px;
  text-align: center;
  display: inline-block;
  border: 1px solid #d8d8d8;
  padding: 10px;
  background-color: #ffffff;
  float: left;
  margin: 1px;
}

.icon-test {
  font-size: 25px;
  padding: 10px;
  margin-bottom: 10px;
}

.icon-p {
  font-size: 12px;
  margin: 0px;
}

#news-title {
  margin: 0px;
}
